<!DOCTYPE html>
<html>
  <head>
    <title>Image Rotator</title>
    <meta charset="UTF-8">
    <style>
      #image {
        display: none;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $.get('/get_next_image', function(data) {
          $('#image').attr('src', data.image_url);
          $('#image').show();
        });
        setInterval(function() {
          $.get('/get_next_image', function(data) {
            $('#image').attr('src', data.image_url);
          });
        }, 2000);
      });
    </script>
  </head>
  <body>
    <h1>Image Rotator</h1>
    <div class="container">
        <div style="text-align:center;">
            <button id="prev" class="btn btn-primary" style="margin-right:10px;">Previous</button>
            <button id="next" class="btn btn-primary">Next</button>
        </div>
        <img id="image" src="{{ url_for('static', filename='images/image1.jpg') }}" style="width:50%;display:block;margin:auto;">
    </div>        
  </body>
</html>
