<!doctype html>
<html>
  <head>
    <title>Flask App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        var i = 1;
        $('#number').text(i);
        $('#button').click(function() {
          i++;
          if (i <= 10) {
            $('#number').text(i);
          }
        });
      });
    </script>
  </head>
  <body>
    <h1>Flask App</h1>
    <div id="number"></div>
    <button id="button">Next</button>
  </body>
</html>
