<!doctype html>
<html>
  <head>
    <title>Flask App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<!--      ################ IT ADDS LINKS TO EACH OTHER AND THEN COPIES THEM AGAIN AND AGAIN AND AGAIN
      <script>
        $(document).ready(function() {
          setInterval(function() {
            $.get('/get_link', function(data) {
              $.each(data.links, function(index, link) {
                $('<a>').text(link).attr('href', link).appendTo('#links');
                $('<br>').appendTo('#links');
              });
            });
          }, 1000);
        });
      </script>
-->

<!-- ### ONE LINK AT A TIME -->
    <script>
      $(document).ready(function() {
        var linksInterval = setInterval(function() {
          $.get('/get_link', function(data) {
            var linksHTML = '';
            $.each(data.links, function(index, link) {
              if (link !== "" && link !== null) {
                linksHTML += '<a href="' + link + '">' + link + '</a><br>';
              }
            });
            $('#links').html(linksHTML);
          });
        }, 1000);

        $('#save-to-xls').on('click', function() {
          clearInterval(linksInterval);

          var links = [];
          $('#links a').each(function() {
            links.push([$(this).text(), $(this).attr('href')]);
          });

          var worksheet = XLSX.utils.aoa_to_sheet(links);
          var workbook = XLSX.utils.book_new();
          XLSX.utils.book_append_sheet(workbook, worksheet, 'Links');
          var now = new Date();
          var filename = 'links_' + now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + '.xlsx';
          XLSX.writeFile(workbook, filename);
        });
      });
    </script>

  </head>
  <body>
    <h1>Provide elements of the list one by one. Save in XLS when clicked & stop execution</h1>
    <button id="save-to-xls">Save to XLS</button><br><br>
    <div id="links"></div>
  </body>
</html>
